.md-header, .md-tabs, .md-tabs__inner {
    background-color: white; !important;
    color: darkslategrey !important;
}

.footer, .md-footer {
    background-color: white; !important;
    color: darkslategrey !important;
}

.md-footer-meta, .md-footer__inner {
    background-color: white; !important;
}

.md-footer-meta a, .md-copyright, .md-copyright__highlight {
    color: darkslategrey !important;
}

body {
    background-image: url( '../images/' );
}