body > main > center > p {
  color: #333;
}

body > main > center > h1 {
    font-family: sans-serif;
    color: #337ab7;
    font-size: 48px;
}

a {
    font-family: sans-serif;
    color: #337ab7;
    font-size: 33px;
}

